$yellow:#be9a2d;
$red:#db304d;
$green:#2c7838;

@mixin margenes($top,$bottom)
{
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin rellenos($right,$left) {
    padding-right: $right;
    padding-left: $left;
}

.footer-address-icon{
    // padding-right: 5px;
    @include rellenos(5px,0px);
}

.navbar{
    background-color: $green!important;
}

.jumbotron {
    background-color:$yellow;
    color: white;
    // margin-top: 50px;
    @include margenes(50px,0px );
}


footer {
    padding: 10px 10px 0 10px;
    background-color:$red;
    color:white;
    // margin-top:20px;
    @include margenes(20px,0px );

    
}

.card-hotel {
    flex: 1 250px;
    /* padding: 0px 0px 0px 0px; */
    margin-top:10px;
    @include margenes(10px, 0px);
}

.btn-reserva
{
    width: 100%;
    border-radius: 0px;
}