.footer-address-icon {
  padding-right: 5px;
  padding-left: 0px; }

.navbar {
  background-color: #2c7838 !important; }

.jumbotron {
  background-color: #be9a2d;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #db304d;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  /* padding: 0px 0px 0px 0px; */
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }
